* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.main {
  width: 90%;
  min-height: 90vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.right {
  width: 705px;
  height: 665px;
  background-image: url(./images/pattern-bg.svg);

  background-repeat: no-repeat;
  z-index: 0;
}

#tanya {
  margin-top: 65px;
  margin-left: 65px;
  -webkit-box-shadow: 1px 13px 39px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 13px 39px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 13px 39px -16px hsl(240, 38%, 20%);
}
.left {
  background-image: url(./images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position-x: 100px;
  padding-top: 70px;
  font-weight: 300;
  max-width: 650px;
  margin-right: -145px;
  font-size: 2em;
  z-index: 1;
}
p {
  margin-top: 15px;
  font-size: 21px;
  font-weight: 700;
  columns: hsl(240, 38%, 20%);
}
span {
  margin-left: 10px;
  font-weight: 300;
  color: hsl(240, 18%, 77%);
}
.buttons {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 50px;
  justify-content: center;
  margin-left: 23%;
  margin-top: -4%;
  z-index: 2;
  -webkit-box-shadow: 1px 13px 39px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 13px 39px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 13px 39px -16px hsl(240, 38%, 20%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
button {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 4px;
  background-color: white;
  border: 0;
}
button:first-child {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
button:last-child {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
